﻿<style>
</style>

<section id="LoginView">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card bg-dark text-white" style="border-radius: 1rem;">
                    <div class="card-body p-5 text-center">
        
                        <div>
                            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                            <p class="text-white-50 mb-5">Escriu el teu email & password!</p>
              
                            <div class="form-outline form-white mb-4">
                              <input type="email" id="typeEmailX" class="form-control form-control-lg" ng-model="vm.Email" />
                              <label class="form-label" for="typeEmailX">Email</label>
                            </div>
              
                            <div class="form-outline form-white mb-4">
                              <input type="password" id="typePasswordX" class="form-control form-control-lg" ng-model="vm.Password"/>
                              <label class="form-label" for="typePasswordX">Password</label>
                            </div>
              
                            <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Has oblidat el teu password?</a></p>
              
                            <button class="btn btn-outline-light btn-lg px-5" ng-click="vm.RequestLogin()">Login</button>
              
                            <div class="d-flex justify-content-center text-center mt-4 pt-1">
                              <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                              <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                              <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                            </div>
              
                          </div>

                        <div>
                            <p class="mb-0">No tens un compte creat? <a ng-click="vm.ShowRegister()" class="text-white-50 fw-bold">Sign Up</a></p>
                          </div>
        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>