﻿<style>
    #MainView {
        height: 100vh;
        background-color: slategrey;
    }
</style>

<div id="MainView">

    <start ng-if="!vm.IsLogon"></start>
    <home ng-if="vm.IsLogon"></home>

</div>