﻿<style>
    input.largerCheckbox {
            width: 30px;
            height: 30px;
        }

</style>


<div id="MemberAddView" class="container-fluid h-100">

    
    <form>
        <fieldset>
            <legend>Afegir nou lector</legend>
            <div class="mb-3">
                <label for="TbName" class="form-label">Nom</label>
                <input type="text" id="TbName" class="form-control" ng-model="vm.Name" placeholder="Escriu el Nom">
            </div>
            <div class="mb-3">
                <label for="TbSurname1" class="form-label">Cognom 1</label>
                <input type="text" id="TbSurname1" class="form-control" ng-model="vm.Surname1" placeholder="Escriu el 1r cognom">
            </div>
            <div class="mb-3">
                <label for="TbSurname2" class="form-label">Cognom 2</label>
                <input type="text" id="TbSurname2" class="form-control" ng-model="vm.Surname2" placeholder="Escriu el 2n cognom">
            </div>
            <div class="mb-3">
                <label for="TbDni" class="form-label">DNI</label>
                <input type="text" id="TbDni" class="form-control" ng-model="vm.Dni" placeholder="Escriu el DNI">
            </div>
            <div class="mb-3">
                <label for="TbEmail" class="form-label">Email</label>
                <input type="text" id="TbEmail" class="form-control" ng-model="vm.Email" placeholder="Escriu l'email">
            </div>
            <div class="mb-3">
                <label for="TbContactPhone" class="form-label">Telèfon</label>
                <input type="text" id="TbContactPhone" class="form-control" ng-model="vm.ContactPhone" placeholder="Escriu el telèfon">
            </div>
            <div class="mb-3">
                <label for="TbPass" class="form-label">Password</label>
                <input type="text" id="TbPass" class="form-control" ng-model="vm.Pass" placeholder="Escriu un password">
            </div>
            <div class="mb-3">
                <label for="TbStatus" class="form-label">Status</label>
                <input class=largerCheckbox type="checkbox" id="TbStatus" ng-model="vm.Status">
            </div>



        </fieldset>
        <button class="btn btn-primary" ng-click="vm.Add()" style="float: right;">Afegir el Lector</button>
    </form>

</div>