﻿<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
    <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none h4">
        <span class="fs-5 d-none d-sm-inline">Home</span>
    </a>
    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
        <li>
            <a data-bs-toggle="collapse" class="nav-link px-0 align-middle h5" ng-click="vm.NavigateTo('Books')">
                <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Llibres</span>
            </a>
        </li>
        <li>
            <a data-bs-toggle="collapse" class="nav-link px-0 align-middle h5" ng-click="vm.NavigateTo('Members')">
                <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Lectors</span>
            </a>
        </li>
        <li>
            <a data-bs-toggle="collapse" class="nav-link px-0 align-middle h5" ng-click="vm.NavigateTo('Loans')">
                <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Prèstecs</span>
            </a>
        </li>
    </ul>
</div>