
    <input id="TbName" type= "text"/>
    <br>
    <input type="button" value= "Holaa" onclick= "DiHola"/>
    <br>

    <script>
    function DiHola()
    {   
        MyAlert (TbName.value);

    }


    function ElNomqueSigui()
    {   
        var nom = "Que ets un petardo!";
        var msg = "Boneees...";
        alert(msg + nom);
        <!-- buscar xuleta sobre javascript -->

    }

    
    ElNomqueSigui();

</script>