﻿<style>
    input.largerCheckbox {
            width: 30px;
            height: 30px;
        }

</style>


<div id="MemberDetailView" class="container-fluid h-100">
    <p1>
        <form>
            <fieldset disabled>
                <legend>Lector Info</legend>
                <div class="mb-3">
                    <label for="TbName" class="form-label">Nom</label>
                    <input type="text" id="TbName" class="form-control" ng-model="vm.Name">
                </div>
                <div class="mb-3">
                    <label for="TbSurname1" class="form-label">Cognom 1</label>
                    <input type="text" id="TbSurname1" class="form-control" ng-model="vm.Surname1">
                </div>
                <div class="mb-3">
                    <label for="TbSurname2" class="form-label">Cognom 2</label>
                    <input type="text" id="TbSurname2" class="form-control" ng-model="vm.Surname2">
                </div>
                <div class="mb-3">
                    <label for="TbDni" class="form-label">DNI</label>
                    <input type="text" id="TbDni" class="form-control" ng-model="vm.Dni">
                </div>
                <div class="mb-3">
                    <label for="TbEmail" class="form-label">Email</label>
                    <input type="text" id="TbEmail" class="form-control" ng-model="vm.Email">
                </div>
                <div class="mb-3">
                    <label for="TbContactPhone" class="form-label">Telèfon</label>
                    <input type="text" id="TbContactPhone" class="form-control" ng-model="vm.ContactPhone">
                </div>
                <div class="mb-3">
                    <label for="TbPass" class="form-label">Password</label>
                    <input type="text" id="TbPass" class="form-control" ng-model="vm.Pass">
                </div>
                <div class="mb-3">
                    <label for="TbStatus" class="form-label">Status</label>
                    <input class=largerCheckbox type="checkbox" id="TbStatus" ng-model="vm.Status">
                </div>
            </fieldset>
        </form>
    </p1>
    </br>
</div>