﻿<style>
</style>


<div id="BookDetailView" class="container-fluid h-100">
  <p1>
        <form>
            <fieldset disabled>
                <legend>Llibre Info</legend>
                <div class="mb-3">
                    <label for="TbAuthor" class="form-label">Autor</label>
                    <input type="text" id="TbAuthor" class="form-control" ng-model="vm.Author">
                </div>
                <div class="mb-3">
                  <label for="TbTitle" class="form-label">Títol</label>
                  <input type="text" id="TbTitle" class="form-control" ng-model="vm.Title">
                </div>
                <div class="mb-3">
                  <label for="TbPublisher" class="form-label">Editorial</label>
                  <input type="text" id="TbPublisher" class="form-control" ng-model="vm.Publisher" >
                </div>
                <div class="mb-3">
                  <label for="TbEdition" class="form-label">Edició</label>
                  <input type="text" id="TbEdition" class="form-control" ng-model="vm.Edition" >
                </div>
                <div class="mb-3">
                  <label for="TbISBN" class="form-label">ISBN</label>
                  <input type="text" id="TbISBN" class="form-control" ng-model="vm.Isbn" >
                </div>
                <div class="mb-3">
                  <label for="TbYear" class="form-label">Any de publicació</label>
                  <input type="number" id="TbYear" class="form-control" ng-model="vm.Year" >
                </div>
                <div class="mb-3">
                  <label for="TbSignature" class="form-label">Signatura</label>
                  <input type="text" id="TbSignature" class="form-control" ng-model="vm.Signature" >
                </div>
                <div class="mb-3">
                  <label for="TbDescription" class="form-label">Descripció</label>
                  <input type="text" id="TbDescription" class="form-control" ng-model="vm.Description" >
                </div>
                <div class="mb-3">
                  <label for="TbSynopsis" class="form-label">Sinopsis</label>
                  <input type="text" id="TbSynopsis" class="form-control" ng-model="vm.Synopsis" >
                </div>
            </fieldset>
          </form>
  </p1>
      </br>
      <div ui-grid="vm.GridBookCopies" class="myGrid h-100"></div>
</div>