﻿<style>
</style>

<link href="/Scripts/Views/Start/Start.css" rel="stylesheet">

<div id="StartView" class="vh-100 gradient-custom">
        
    <br>
    <!-- <button class="btn btn-secondary mx-0" ng-click="vm.ShowLogin()">Login</button>
    <button class="btn btn-secondary" ng-click="vm.ShowRegister()">Register</button> -->

    <login  ng-if="vm.IsLoginActive"></login>
    <register ng-if="!vm.IsLoginActive"></register>
</div>