<style>
    #SpaceshipsView
    {        
        background-color: aliceblue;
        height:600px;
    }

    .myGrid 
    {
        width: Calc(100% -40px);
        height: Calc(100% - 40px);
    }
</style>


<div id="SpaceshipView" class="container-fluid">
    Spaceship View
    <!--Dades de prova-->
    <!-- <div ui-grid="{data: vm.Spaceships}" class="myGrid"></div> -->
    <form>
        <div class="form-group">
            <label for="TbBrand">Brand</label>
            <input type="text" class="form-control" id="TbBrand" aria-describedby="textHelp" placeholder="Enter Brand" ng-model="vm.Brand">
            <small id="textHelp" class="form-text text-muted">Put the brand of the ship.</small>
        </div>
        <div class="form-group">
            <label for="TbPassword">Password</label>
            <input type="password" class="form-control" id="TbPassword" aria-describedby="textPassword" placeholder="Enter Password" ng-model="vm.Password">
            <small id="textPassword" class="form-text text-muted">We will not store the plain password but hashed.</small>
        </div>

        <div class="form-group">
            <label for="TbFTLFactor">FTL</label>
            <input type="text" class="form-control" id="TbFTLFactor" aria-describedby="textHelp" placeholder="Enter FTL" ng-model="vm.FTLFactor">
            <small id="textPassword" class="form-text text-muted">Valors de 1 al 89.</small>
        </div>


        <div class="form-group">
            <label for="TbColor">Color</label>
            <input type="text" class="form-control" id="TbColor" aria-describedby="textHelp" placeholder="Enter Colour" ng-model="vm.Color">
            <small id="textPassword" class="form-text text-muted">Tria un color del pantone.</small>
        </div>
        <div class="form-group">
            <label for="TbPassengersCapacity">Capacitat de passatgers</label>
            <input type="text" class="form-control" id="TbPassengersCapacity" aria-describedby="textHelp" placeholder="Enter Capacitat" ng-model="vm.PassengersCapacity">
            <small id="textPassword" class="form-text text-muted">DE 4 a 400.</small>
        </div>

        <p style="text-align:right">
            <br />
            <button ng-click="vm.Add()" class="btn btn-primary">Add</button>
        </p>
    </form>

    <!-- Dades DB server-->
    <div ui-grid="vm.GridOptions" class="myGrid"></div>

</div>