﻿<style>
</style>
<link href="/scripts/Views/NavigationViews/BooksViews/BooksList/BooksList.css" rel="stylesheet">

<div id="BooksListView" class="container-fluid h-100">
        <p1 class="h5">Llibres Llistat</p1></br>
    
        <nav class="navbar navbar-dark bg-dark">
          <div class="container-fluid">
              <a class="navbar-brand" ng-click="vm.GotoAdd()" > Afegir un Llibre</a>
            <form class="d-flex">
              <input class="form-control me-2" type="search" placeholder="Recerca" aria-label="Search">
              <button class="btn btn-outline-primary" type="submit">Recercar</button>
            </form>
          </div>
        </nav>
        <br/>
        <div ui-grid="vm.GridOptions" class="myGrid h-100"></div>
    
    </div>