﻿<style>
  .grid {
    width: 100%;
    height: 300px;
  }
</style>

<div id="LoansReturnsView" class="container-fluid h-100">
  <p1 class="h5">Retorns Llistat </p1></br>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand"> </a>
      <form class="d-flex">
        <button class="btn btn-outline-primary" type="submit"  ng-click="vm.GotoLoans()">Anar a Prèstecs</button>
      </form>
    </div>
  </nav>
  <br/>


  <div id="MembersView" class="container-fluid">
    <p1 class="h5">Tria Lector:</p1></br> 

    <select name="repeatSelect" id="repeatSelect" ng-model="vm.SelectedMember">
      <option ng-repeat="option in vm.availableMembers" ng-value="option">{{option.Name}} {{option.Surname1}} {{option.Surname2}}</option>
    </select>

    </br>
    <label {display:block; width:x; height:y; text-align:right;}>Prèstecs pendents d'aquest Lector : {{vm.SelectedMember.Name}}</label>
    <br/>
    <div ui-grid="vm.GridLoansMember" class="grid"></div>

  </div>
  <br/>
  <nav class="navbar navbar-dark bg-dark">
  </nav>
  <br/>
  <div id="LoansView" class="container-fluid">
    <p1 class="form-label" style="float: right;">Històric de Prèstecs:</p1></br> 
    <br/>
    <div ui-grid="vm.GridLoansReturned" class="Grid"></div>

  </div>
  

</div>