﻿<style>

</style>


<div id="HomeView" class="container-fluid">
    <div class="row flex-nowrap">
        <menu class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark"></menu>
        <div class="col py-3">
            <div ng-view style="height: 500px;"></div>
        </div>
    </div>
</div>