<style>
    #MainView
    {
        height: 100vh;
        background-color:coral;
    }
</style>

<div id="MainView" class="container-fluid">
    Main View
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a ng-class="vm.LoginNavClass" aria-current="page" ng-click="vm.SelectLogin()">Login</a>
        </li>
        <li class="nav-item">
            <a ng-class="vm.GridOptions" ng-click="vm.SelectSpaceShips()">SpaceShips</a>
        </li>
        <li class="nav-item">
            <a ng-class="vm.IsAirportClass" ng-click="vm.SelectAirports()">Airports</a>
        </li>
        <li class="nav-item">
            <a ng-class="vm.IsPilotClass" ng-click="vm.SelectPilots()">Pilots</a>
        </li>
    </ul>

    <div ng-show="vm.IsLoginViewActive"> estamos en login</div>
    <spaceship ng-if="vm.IsSpaceShipViewActive"></spaceship>
    <div ng-show="vm.IsSpaceShipViewActive"> Aqui les NAUS voladores  2!!</div>
    <div ng-show="vm.IsAirportViewActive"> estamos en Airports</div>
    <div ng-show="vm.IsPilotViewActive"> estamos en PILOTS</div>


</div>