﻿<style>

</style>


<div id="BookAddView" class="container-fluid h-100">
  
    <form>
        <fieldset>
          <legend>Afegir un Llibre nou</legend>
          <div class="mb-3">
            <label for="TbAuthor" class="form-label">Autor</label>
            <input type="text" id="TbAuthor" class="form-control" ng-model="vm.Author" placeholder="Escriu l'Autor">
          </div>
          <div class="mb-3">
            <label for="TbTitle" class="form-label">Títol</label>
            <input type="text" id="TbTitle" class="form-control" ng-model="vm.Title" placeholder="Escriu el Títol">
          </div>
          <div class="mb-3">
            <label for="TbPublisher" class="form-label">Editorial</label>
            <input type="text" id="TbPublisher" class="form-control" ng-model="vm.Publisher" placeholder="Escriu l'Editorial">
          </div>
          <div class="mb-3">
            <label for="TbEdition" class="form-label">Edició</label>
            <input type="text" id="TbEdition" class="form-control" ng-model="vm.Edition" placeholder="Escriu l'Edició">
          </div>
          <div class="mb-3">
            <label for="TbISBN" class="form-label">ISBN</label>
            <input type="text" id="TbISBN" class="form-control" ng-model="vm.Isbn" placeholder="Escriu l'ISBN (13)">
          </div>
          <div class="mb-3">
            <label for="TbYear" class="form-label">Any de publicació</label>
            <input type="number" id="TbYear" class="form-control" ng-model="vm.Year" placeholder="Type Year">
          </div>
          <div class="mb-3">
            <label for="TbSignature" class="form-label">Signatura</label>
            <input type="text" id="TbSignature" class="form-control" ng-model="vm.Signature" placeholder="Escriu la Signatura">
          </div>
          <div class="mb-3">
            <label for="TbDescription" class="form-label">Descripció</label>
            <input type="text" id="TbDescription" class="form-control" ng-model="vm.Description" placeholder="Escriu la Descripcío ( tamany / num. pàgines)">
          </div>
          <div class="mb-3">
            <label for="TbSynopsis" class="form-label">Sinopsis</label>
            <input type="text" id="TbSynopsis" class="form-control" ng-model="vm.Synopsis" placeholder="Escriu la sinopsis/resum.">
          </div>
        </fieldset>
        <button class="btn btn-primary" ng-click="vm.Add()" style="float: right;">Afegir el Llibre</button>
    </form>

</div>