﻿<style>
  .grid {
    width: 100%;
    height: 300px;
  }
</style>


<div id="LoansListView" class="container-fluid h-100">
        <p1 class="h5">Prèstecs Llistat</p1></br>
    
        <nav class="navbar navbar-dark bg-dark">
          <div class="container-fluid">
              <a class="navbar-brand"> </a>
            <form class="d-flex">
              <button class="btn btn-outline-primary" type="submit"  ng-click="vm.GotoReturns()">Anar a Retorns</button>
            </form>
          </div>
        </nav>
        <br/>
        <div id="MembersView" class="container-fluid">
          <p1 class="h5">Tria Lector:</p1></br> 
      
          <select name="repeatSelect" id="repeatSelect" ng-model="vm.SelectedMember">
            <option ng-repeat="option in vm.availableMembers" ng-value="option">{{option.Name}} {{option.Surname1}} {{option.Surname2}}</option>
          </select>
      
          </br>
          <label style="text-align:right">Prèstecs pendents d'aquest Lector : {{vm.SelectedMember.Name}} {{vm.SelectedMember.Surname1}} {{vm.SelectedMember.Surname2}}</label>
          <br/>
          <div ui-grid="vm.GridLoansMember" class="grid"></div>

        </div>
        <br/>
        
        <nav class="navbar navbar-dark bg-dark">
        </nav>
        <br/>
        <div id="BooksView" class="container-fluid">
          <p1 class="h5">Tria Llibre:</p1></br> 
      
          <select name="repeatSelect" id="repeatSelect" ng-model="vm.SelectedBook">
            <option ng-repeat="option in vm.availableBooks" ng-value="option">{{option.Title}}</option>
          </select>
      
          </br>
          <label ALIGN=RIGHT>Còpies disponibles d'aquest Llibre : {{vm.SelectedBook.Title}}</label>
          
          <br/>
          <div ui-grid="vm.GridBookCopies" class="grid"></div>

        </div>
        


    
    </div>